.modal-center
{
	padding:20px;
	border-radius: 5px;
	border:1px solid gray;
	color: #636363;
	width: 350px;
}
.modal-center.modal-header
{
	justify-content: center;
	border-bottom: none;
	position: relative;
}
.modal-center .modal-title
{
	text-align: center;
	font-size: 26px;
}
.modal-center i
{
	
}
